:root {
    --primary-color: #ff00ff;
    --secondary-color: #a06ccf;
    --tertiary-color: #0099ff;
}

#carousel-image {
   height: 1000px; 
}

.carousel-inner a{
    color: var(--primary-color);
    font-family: "Brush Script MT", cursive;
    font-size: 32px;
    text-shadow: 2px 2px #f2ccff;
}

.carousel-inner p {
    color: var(--tertiary-color);
    font-family: "Brush Script MT", cursive;
    font-size: 26px;
    text-shadow: 2px 2px #33ffff;
}

.carousel-indicators li {
    color: var(--primary-color);
}

section {
    background-color: #400080;
}
.body-sections h3 {
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 2px 2px var(--secondary-color);
}

.body-sections {
    font-style: "Georgia", serif;
    font-size: 32px;
    color: var(--secondary-color);
}

.pets-img {
    float: right;
    height: 575px;
    width: 835px;
}

.btn-view {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    margin: 10px 5px;
}

.btn-save{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    margin: 10px 5px;
}

.facts-img {
    float: center;
    width: 50%;
    z-index: 0;
}

.random-cat-facts p {
    position: relative;
}

#myBtn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    right:-20%;
}
.resources-img {
    display: flex;
    position: static;
    width: 1400px;
    height: 650px;   
}

.addtional-resources ul {
    color: var(--secondary-color);
}

footer{
    color: var(--primary-color);
}
